# ignore generated .class files
*.class

# ignore eclipse related files
.classpath
.project
.settings/

# ignore javadoc directory
doc/

# ignore all everything under files directory
# except two files
files/*
!files/info.txt
!files/test.txt